.container {
  display: flex;
  flex-direction: row-reverse;
  border-radius: 1.5vh;
  border-color: black;
  border-style: solid;
  border-width: 0.2rem;
  background: rgb(223, 44, 22);
  background: linear-gradient(
    25deg,
    rgba(223, 44, 22, 1) 4%,
    rgba(253, 61, 38, 1) 35%,
    rgba(253, 29, 29, 1) 100%
  );
  justify-content: space-evenly;
  height: 3rem;
  width: 90%;
  transition-duration: 170ms;
  transition-property: transform;
}

.container:hover {
  transform: scale(1.07);
}

p {
  margin: auto;
  font-size: large;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  overflow-x: auto;
  max-width: 60%;
  max-height: 90%;
}
