/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.container {
  display: flex;
  flex-direction: row-reverse;
  border-radius: 1.5vh;
  border-color: #715659;
  border-style: solid;
  border-width: 0.2rem;
  background-color: #ff4242;
  justify-content: space-evenly;
  height: 3rem;
  width: 90%;
  transition-duration: 100ms;
  transition-property: background-color;
}

p {
  margin: auto;
  font-size: large;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  overflow-x: auto;
}
