.container {
  display: flex;
  flex-direction: row-reverse;
  border-radius: 1.5vh;
  border-color: #715659;
  border-style: solid;
  border-width: 0.2rem;
  background-color: #fee92e;
  justify-content: space-evenly;
  height: 3rem;
  width: 80%;
  transition-duration: 100ms;
  transition-property: background-color;
}

.container:hover {
  background-color: #e9d528;
}

.placement {
  direction: rtl;
}

p,
h2 {
  margin: auto;
  font-size: large;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}
