.container {
  display: flex;
  flex-direction: column;
}

.options {
  border-radius: 100%;
  border-width: 0.2em;
  border-style: solid;
  color: black;
  border-color: transparent;
  height: 5em;
  width: 5em;
  background-color: transparent;
  transition-duration: 100ms;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 170ms;
}

.options:hover {
  transform: scale(1.15);
}

.options_icon {
  cursor: pointer;
  font-size: large;
  border-radius: 100%;
  border: none;
  transition-duration: 100ms;
  font-size: 5.8em !important;
  transition-property: transform !important;
}

.options_icon:hover {
  transform: rotate(70deg);
}

.menu_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.menu_btn {
  background-color: transparent;
  border: none;
  transition-duration: 200ms;
  cursor: pointer;
}

.menu_icons {
  font-size: 2.5em !important;
  transition-duration: 200ms;
  transition-property: transform !important;
}

.menu_btn:hover {
  transform: scale(1.15);
}

.menu_icons:hover {
  transform: rotate(45deg);
}
