.addBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition-duration: 150ms;
  transition-property: transform;
}

.addBtn:hover {
  transform: scale(1.25);
}

.addToast {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 8%;
  width: 100%;
}

.empty {
  opacity: 0.6;
  user-select: none;
}
