/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.container {
  display: flex;
  flex-direction: row-reverse;
  border-radius: 1.5vh;
  border-color: #715659;
  border-style: solid;
  border-width: 0.2rem;
  background-color: #f4a22e;
  justify-content: space-evenly;
  height: 3rem;
  width: 90%;
  transition-duration: 100ms;
  transition-property: background-color;
}

p {
  margin: auto;
  font-size: large;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  overflow-x: auto;
}

.toastBtn {
  background-color: transparent;
  border-color: transparent;
  border-radius: 30%;
  padding-left: 1em;
  padding-right: 1em;
}

.toastIcon {
  cursor: pointer;
  transition-duration: 70ms;
  transition-property: transform !important;
}

.toastIcon:hover {
  transform: scale(1.35);
}
