/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.container {
  display: flex;
  flex-direction: column;
  border-radius: 1.5vh;
  border-color: #715659;
  border-style: solid;
  border-width: 0.2rem;
  background: rgb(255, 114, 31);
  background: linear-gradient(
    248deg,
    rgba(255, 114, 31, 1) 15%,
    rgba(255, 114, 31, 1) 41%,
    rgba(255, 133, 19, 1) 57%,
    rgba(255, 160, 1, 1) 100%
  );
  height: 10rem;
  width: 8rem;
  transition-duration: 100ms;
  transition-property: background-color;
  flex-basis: 90%;
  overflow-x: hidden;
  transition-duration: 170ms;
  transition-property: transform;
  gap: 4%;
}

.container:hover {
  transform: scale(1.06);
}

.emptyContainer {
  height: 1em;
  flex-shrink: 0;
}

.toastText {
  margin: auto;
  font-size: large;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  overflow-x: auto;
  max-width: 80%;
  max-height: 21%;
}

.toastBtn {
  background-color: transparent;
  border-color: transparent;
  border-radius: 30%;
  padding-left: 1em;
  padding-right: 1em;
}

.toastIcon {
  cursor: pointer;
  transition-duration: 70ms;
  transition-property: transform !important;
}

.toastIcon:hover {
  transform: scale(1.35);
}

.toastButtonContainer {
  display: flex;
  justify-content: center;
}

label {
  text-align: center;
}
