.titleContainer {
  display: flex;
  flex-direction: row;
}

.closeBtn {
  border: none;
  background-color: transparent;
}

.closeIcon {
  transform: scale(1.25);
  cursor: pointer;
}
.closeIcon:hover {
  transform: scale(1.5);
  color: red;
}
