.titleContainer {
  display: flex;
  flex-direction: row;
}

.closeBtn {
  border: none;
  background-color: transparent;
}

.closeIcon {
  transform: scale(1.25);
  cursor: pointer;
}
.closeIcon:hover {
  transform: scale(1.5);
  color: red;
}

.toastList {
  overflow-y: auto;
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  height: 100vh;
  width: 100%;
  padding: 0 0 0 0;
}

.emptyText {
  color: #00000080;
}
