.actionContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  height: 3em;
}

.modalButtonDisabled {
  cursor: initial !important;
  border-color: transparent !important;
}

.modalButtonDisabled,
.modalButton {
  border-color: black;
  border-style: solid;
  border-radius: 1rem;
  background-color: white;
  cursor: pointer;
  margin-right: 3%;
  transition-duration: 100ms;
}

.modalButton:hover {
  transform: scale(1.1);
}

.timeInput {
  margin-left: 2%;
}

.pickerContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
}
