/* You can add global styles to this file, and also import other style files */
body {
  background: #ffffff;
  background: linear-gradient(
    90deg,
    rgba(117, 2, 96, 0.778) 0%,
    rgba(225, 23, 87, 0.749) 52%,
    rgba(255, 113, 31, 0.786) 89%,
    rgba(255, 162, 1, 0.779) 100%
  );
  overflow: hidden;
  height: 100%;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #343034cf;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: rgb(178, 173, 127);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #1a191a;
  border-radius: 10px;
  border: 3px solid #ffffff;
  transition-duration: 200ms;
  transition-property: background-color;
}
